{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
</head>

<body>
    <div class = "jumbotron centered">
        <div>
          <i class="fas fa-key fa-6x"></i>
          <i class="fa-solid fa-user-hair fa-6x fas"></i>
          <!-- <i class="fa fa-handshake-o" aria-hidden="true"></i> -->
          <!-- <img src="public/icons8-front-desk-16.png"> -->
          <!-- <link type="image/png" rel="icon" href=".../icons8-front-desk-16.png"> -->
          <h1 class="display-3">Eceptionist</h1>
          <!-- <p class="lead">How may I help you?</p> -->
          <br>
          <br>
      
      
          <!-- <button class="btn btn-light btn-lg" href="#" onclick="audio.play();" id="sound">Excuse me!</button>
          <script type="text/javascript">
            var audio = new Audio();
            audio.src = "public/sounds/1649505541152-voicemaker.in-speech.mp3";
          </script> -->
          <!-- <hr> -->
          <a class="btn btn-light btn-lg first" href="/faculty/" role="button">Faculty</a>
          <a class="btn btn-lg sec" style="background-color: #253D5B ; color: white" href="/student/" role="button">Student</a>
          <!-- <button class="first">First way</button>
          <button class="sec">Second way</button> -->
      
        </div>
      </div>
    </body>
    </html>